
@media only screen {
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  content: "";
  clear: both;
  display: table;
  transition: color 1s;
  
}
#body {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  opacity: 0;
  transition: opacity 2s;
}
.body {
    overflow: hidden;
    content: "";
    clear: both;
    display: table;
}

/*                           MENU OVERLAY                */ 
a {
  text-decoration: none; 
}
#menu {
  transform: translate(0, 5vh);
  height: 95vh;
  width: 100vw;
  background-color:rgba( 0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0%;
  transition: opacity 1s;
}


#body .menu-button {
  height: 5vh;
}


#body .menu-button p {
  font-family: Arial, Helvetica, sans-serif;
  transform: rotate(90deg);
  font-size: 3em;
  float: right;
  color: var(--font_color3);
  height: 1em;
  text-align: end;
  margin: 0;
  padding: 0;

}

#menu {
  position: relative;
  background-color: rgba(0,0,0,0.5);
}


#menu #menu_l {
 /* height: 300px;*/ 
  font-family: Arial;
  transform: translate(-50px, calc(90vh - 400px));
  text-decoration: none; 
}
.menu_l_about {
position: relative;
height: 100%;
width: 95%;
border-radius: 20px;
background-color: var(--boxyellow);
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.5);
font-size: 4em;
line-height: 45px;
}
.menu_l_about a {
  display: inline-block;
height: 75px;
width: 284px;
color: var(--font_color);
font-family: Arial;
margin:0;
transform: translate(50px, 7px);

}
.menu_l_gallery{ 
height: 100%;
width: 95%;
border-radius: 20px;
background-color: var(--boxblue);
}
.menu_l_gallery a{
  display: inline-block;
height: 75px;
width: 232px;
color: var(--font_color);

}
.menu_l_contacts {
height: 100%;
width: 95%;
border-radius: 20px;
background-color: var(--boxred);
}
.menu_l_contacts a{
  display: inline-block;
  height: 75px;
  width: 214px;
  color: var(--font_color2);
}



.optionButtons {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;

}


  .optionButtonsLS {
    width: 100%;
    position: absolute;

    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
  
  }

















/*                      MAIN PAGE              */
/*       HEADER           */
.body .header_main {
    background-image: url(/img/Sunset.jpg);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    margin: 0;
    color: var(--font_color2);
    height: 25vh;
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;;
}
.body .header_main img {
    min-width: 100vw;
    max-height: 25vh;
    object-fit: none;
    position: absolute;
    z-index: -1;
}

.body .header_main h1 {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: Arial;
    line-height: 44px;
    text-align: center
   

}

.body .header_main h2 {
    position: absolute;
    width: 100%;
    top: 70%;
    text-align: center;
    font-size: 1em;
    font-family: Arial;
    line-height: 16px;
    text-align: center;
    margin-top: 15px;
}

@keyframes example {
    from {background-position-x: left;}
    to {background-position-x: right;}
  }

  /*     quote       */ 
  .quote_ref {
      box-sizing: border-box;
      position: relative;
      float: right;
  }
  #quote {
    font-family: Arial;
    font-size: 29px;
    line-height: 32px;
  }
 .quote_main {
    width: calc(90vw + 20px);
    background-color: var(--boxyellow);
    transform: translate(30px, 20px);
    padding: 10px 0 10px 0;
    border-radius: 20px;
    text-align: right;
  }
 .blue{
    margin: 20px;
    border: var(--boxblue) solid 5px;
    border-radius: 10px;
  }

 .quote_A {
      display: inline-block;
      background-color: var(--boxred);
      border-radius: 1em;
      padding: 5px;
      padding-right: 40px;

  }
 .blue p {
    text-align: center;
    font-weight: 700;
    color: var(--font_color);

  }
  .body .quote_ref .quote_main .quote_A p {
      color: var(--font_color2);
      display: inline-block;
      font-size: 26px;
      margin: 5px 0 5px 0;
      padding-left: 5px;


  }


  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /*                        menu part                   */


  
  .menu_main {
    display: inline-block;
    width: 95%;
    margin-top: 50px;
  }
  
  
  #menu #menu_main {
   /* height: 300px;*/ 
    font-family: Arial;
    transform: translate(-50px, calc(90vh - 400px));
    text-decoration: none; 
    display: inline-block;
    width: 95%;
  }
  .menu_main_about {
  position: relative;
  width: 95%;
  border-radius: 20px;
  background-color: var(--boxyellow);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.5);
  font-size: 4em;
  line-height: 45px;
  }
  .menu_main_about a {
    display: inline-block;
  height: 75px;
  width: 284px;
  color: #666;
  font-family: Arial;
  margin:0;
  transform: translate(50px, 7px);
  
  }
  .menu_main_gallery{ 
  height: 100%;
  width: 95%;
  border-radius: 20px;
  background-color: var(--boxblue);
  }
  .menu_main_gallery a{
    display: inline-block;
  height: 75px;
  width: 232px;
  color: var(--font_color);
  
  }
  .menu_main_contacts {
  height: 100%;
  width: 95%;
  border-radius: 20px;
  background-color: var(--boxred);
  }
  .menu_main_contacts a{
    display: inline-block;
    height: 75px;
    width: 214px;
    color: var(--font_color2);
  }
  
/*                 ABOUT PAGE                    */

.about-header {
  width: 100%;
  /*height: calc(100% - 110px);*/
  z-index: 1;
  position: relative;
}
.menu-button h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 25%;
  margin-bottom: 0%;
}


.about-menu-button {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.gray {
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}
.about-header video {
  width: 100%;
  position: relative;
  height: auto;
  z-index: 0;
}
.about-body{
  font-family: Arial;
}



.about-text{
  color: var(--font_color2);
  background-color: var(--boxred);
  margin:10px 10px 0 10px;
  padding: 5px;
  border-radius: 10px;
}
.about-text p {
  margin: 1px;
  margin: 1px;
  padding: 5px 5px 5px 5px;
}
.about-title {
  margin: 0;
  color: var(--font_color);
  font-size: 2em;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.about-title h2 {
  margin: 5px 0 5px 0;
}
.about1 {
  background-color: var(--boxyellow);
  padding-left: 40px;
  transform: translateX(-20px);
}

.about3 {
  margin-bottom: 20px;
  background-color: var(--boxblue);
  padding-right: 40px;
  float: right;
  transform: translateX(20px);
}

.about4 {
  margin-top: 4em;
  display: flex;
  height: auto;
  width: calc(100vw - 11px);
  margin: 0 5px 0 5px ;
}
.about4 img {
  width: 25vw;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}
.about4-1 {
  background-color: var(--boxyellow);
  color: var(--font_Gray);
  font-size: 1.5em;
  margin: 0 5px 0 5px;
  width: calc(75vw - 11px);
  border-radius: 10px;
}
.about4-1 p {
  display: inline-block;
}



/*                                     GALLERY             */
#titles {
  position: relative;
}
#titles .title1 {
  background-color: var(--boxyellow);
  transform: translate(-20px, 0);
}
#titles .title2 {
  margin-top: 10%;
  background-color: var(--boxblue);
  transform: translate(20px, 0);
}

#titles div {
  margin: 0;
  padding: 0;
  height: calc(auto + 0.1em);
  border-radius: 20px;
}

#titles div h1 {
  margin: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 2.5em;
  color: var(--font_color);
}
.title1 h1 {
  transform: translatex(20px);
}
.title2 h1 {
  transform: translateX(5px)
}

/*                   slide show                  */ 
#slideshow {
  margin-top: 20px;
  position: relative;
}
.S-button {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: var(--font_color2);
}
.slidebody{
  position: relative;
}
.slidebody p {
  text-align: center;
  width: 20vw;
  margin: 0;
  display: inline-block;
  background-color: rgba(238,59,59,0.2);
  font-family: Arial;
  font-size: 41px;
  line-height: 46px;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-top: calc(20% - 2rem);
}
#forward {
  float: right;
}

#slideshow img {
  position: relative;
  z-index: 0;
}




.info-boxes {
  position: relative;
  height: 3em;
  color: var(--font_color4);

}
.info-boxes div {
  display: inline-block;
  height: 1.6em;
  border-radius: 10px;

}

.info-boxes p {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 0;
  color: var(--font_color4);
}

.info-boxes .like {
  background-color: var(--boxblue);
  width: calc(25% + 20px);
  transform: translate(-20px, 0);
}
.info-boxes .like p {
  transform: translate(25px, 0);
}
.info-boxes .image-title {
  background-color: var(--boxred);
  float: right;
  width: calc(50% + 20px);
  transform: translate(20px, 0);
}
.info-boxes .image-title p {
  width: calc(100% - 25px);
  text-align: end;
}
.info-boxes .image-date {
  background-color: var(--boxyellow); 
  float: right;
  width: calc(40% + 20px);
  transform: translate(20px, 0);
}

.info-boxes .image-date p {
  min-width: calc(100% - 25px);
  text-align: end;
}


img {
  width:100%;

}


/*                     Gallery                */ 
#gallery {
  margin-top: 5%;
  position: relative;
}
#gallery .gal-title {
  display: inline-block;
  background-color: var(--boxblue);
  width: calc(50% + 20px);
  border-radius: 20px;
  height: 2em;
  transform: translate(-20px, 0);
}

#gallery .gal-title h1 {
  color: var(--font_color4);
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  transform: translate(25px, 0);

}

#gallery .flex {
  display: flex;
  flex-wrap: wrap;
}

#gallery .flex img {
  margin-left: 5%;
  margin-top: 5%;
  min-width: 44%;
  max-width: 44%;
}




/*                                  CONTACT */
#contact-header img{
  max-height: 50vh;
  object-fit: none;
  overflow: hidden;
}

.boxes p{
  display: inline-block;
      color: var(--font_color);
      font-family: Arial;
      font-size: 2.5em;
      font-weight: 700;
      line-height: 35px;
      margin: 0;
      margin-top: 0.1em;
}

.closed {
  transform: rotate(270deg) translatey(-10px);
  float: right;
  transition: transform 1s;
}
.open {
  transform: rotate(90deg) translatey(-10px);
  float: right;
}

.cover {
  z-index: 1;
  height: 3em;
  width: 100%;
  transform: translate(0px, -2.45em);
}
.SMtitle {
  background-color: var(--boxyellow);
  height: 3em;
}
.conTitle {
  background-color: var(--boxblue);
  height: 3em;
}
.reviewTitle {
  background-color: var(--boxred);
  height: 3em;
  color: var(--font_color2);
}
.reviewTitle p {
  color: var(--font_color2);
}





.box-closed {
  color: var(--font_color2);
  overflow: hidden;
  height: 0px;
  background-color: var(---backblue);
  transition: height 1s;
}

.box-open {
  color: var(--font_color2);
  height:100%;
  overflow: hidden;
  background-color: var(---backblue);
  transition: height 1s;
}

#box-closed img {
  width: 15%;
}
#boxed-closed p {
  font-size: 1.5em;
}


}
#LargeScreen {
  opacity: 0;
  transition: 2s opacity;

}

@media only screen and (max-width: 1399px) {
  #body {
    width: 100vw;
    border-left: solid black 0px;
  }
  #LargeScreen {
    display: none;
  }
}
@media only screen and (min-width: 500px) {
  .S-button p {
    width: 10vw;
  }
}

@media only screen and (min-width: 1400px) {
  body{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
  }
 #body {
   width: calc(70vw);
   height: 100vw;
   overflow-y: scroll;
   overflow-x: hidden;
 }
 #LargeScreen {
  border-left: solid white 5px;
   position: fixed;
   display: block;
   transform: translateX(calc(70vw));
   overflow: hidden;
   width: calc(30vw + 5px);
   height: 100vw;
 }


::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

  .menu_main {
    margin-top: 25vh;
    float: right;
  }
  .menu_main a {
    text-align: right;
    width: 350px;
    margin-right: 40px;
    transform: translate(-70px, 15px);

  }
  .menu_main_about {
    margin: 0;
    margin-left: 5%;
    padding-right: 40px;
    text-align: right;

  }
  .menu_main_gallery {
    margin-left: 5%;
    padding-right: 40px;
  }
  .menu_main_contacts {
    margin-left: 5%;
    padding-right: 40px;
  }

  .menu_main_about a{
    margin-left: 10%;

  }
  .menu_main_gallery a {
    margin-left: 5%;

  }
  .menu_main_contacts a {
    margin-left: 0%;
 
  }
  .burger-menu {
    color: var(--font_color3);
    display: none;
    height: auto;
  }




  /*                                         MORE CONTACT PAGE STUFF          */
  .boxes {
    display: flex;
  } 
  .LSbox {
    width: 33.3%;
  }

}

@media only screen and (min-width: 1700px) {
  #body {
    width: calc(75vw);
    height: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #LargeScreen {
   border-right: solid black 5px;
    position: fixed;
    display: block;
    transform: translateX(calc(75vw + 5px));
    overflow: hidden;
    width: calc(25vw + 5px);
    height: 100vw;
  }
 
}
